

/*a{*/
/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
/*}*/

/*.scroller {*/
/*overflow: auto;*/
/*-webkit-overflow-scrolling: touch;*/
/*position: absolute;*/
/*top: 141px;*/
/*bottom: 0px;*/
/*left: 0px;*/
/*right: 0px;*/
/*}*/


/*.top*/
/*{*/
/*margin-bottom:20px;*/
/*}*/
/*.topcoat-navigation-bar*/
/*{*/
/*position:fixed;*/
/*background-color: #2c3e50;*/
/*height:50px; *//*height in production should be 50px */
/*width:100%;*/
/*z-index:10;*/
/**/
/*}*/


@font-face {
    font-family: Langdon;
    src: url('Langdon.otf');
}

.navbar-brand
{
    font-family: Langdon;
}

body
{
    padding-top:70px;
    padding-bottom: 70px;
    /*margin-top:50px;*/
    /*position: relative;*/
}

.media-object{
    margin-left: 10px;
}

.apt
{
    font-weight: normal;
}

.media-heading
{
    color: #1abc9c
}

.media-body a{
    color: #34495e;

}

.media
{
    padding:0px;
}

.icons .btn
{
    margin-right: 5px;
}

.det_icons .btn
{
    margin-right: 5px;
    margin-left: 5px;
}

.center
{
    display:block;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    text-align: center;
}

#details
{
    text-align: center;
}

.footerbtn
{
    margin-right: 10px;
    margin-left: 10px;
}

#back
{
    margin-left: 4px;
}
.navbar-text
{
    text-align: center;
}

.spinner{
    
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#map-content { 
    
    height: 100%;
    width:100%;
}
/*p*/
/*{*/
/*font-family: 'Roboto', sans-serif;*/
/*font-size:16px;*/
/*}*/

/*.listing*/
/*{*/
/*background-color:#bdc3c7;*/
/*}*/

/*.topcoat-navigation-bar__title{*/
/*color:#fff;*/
/*font-size:38px;*/
/*float:left;*/
/*position:fixed;*/
/*font-family:AmericanCaptain;*/
/**/
/*}*/

/*.topcoat-list__item */
/*{*/
/*font-family: 'Roboto', sans-serif;*/
/*background-color:#fff;*/
/*color:#bdc3c7;*/
/*font-weight:800;*/
/*border-color:#bdc3c7; */
/*border-color:#fff;*/
/*} */

/*.topcoat-list*/
/*{*/
/*border-color:#fff;*/
/**/
/*}*/

/*.headerlisting*/
/*{*/
/*float:left;*/
/*}*/

/* utility styles*/
/*.center*/
/*{*/
/*display:block;*/
/*margin-left:auto;*/
/*margin-right:auto;*/
/*}*/

/*.pull-right{ float:right;}*/

/*.topcoat-notification*/
/*{*/
/*float:right;*/
/*background-color:#2ecc71;*/
/**/
/*}*/

/*.topcoat-button{*/
/**/
/*background-color:#2980b9;*/
/*border-radius:2px;*/
/*border: 1px solid #2980b9;*/
/*color:#fff;*/
/*text-transform:uppercase;*/
/*font-size:16px;*/
/*font-family: 'Roboto';*/
/*box-shadow:none;*/
/*display:block;*/
/*margin-left:auto;*/
/*margin-right:auto;*/
/*}*/

/*.topcoat-button:active{*/

/*color:#2ecc71;*/
/*}*/
/*.topcoat-button:hover{*/
/*background-color:#2ecc71;*/
/*color:#fff;*/
/**/
/*}*/

/*.navicons*/
/*{*/
/*border-radius:2px;*/
/*padding: 0.15em 0.5em 0.2em;*/
/*margin-top: 8px;*/
/*}*/
/*.icons*/
/*{*/

/*border-radius:2px;*/
/*float:left;*/
/*padding: 0.15em 0.5em 0.2em;*/

/*}*/

/*::-webkit-input-placeholder {*/

/*text-align: center;*/
/*text-transform: uppercase;*/

/*}*/
/*#btnadd*/
/*{*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

/*.topcoat-text-input*/
/*{*/
/*margin-top:10px;*/
/*margin-bottom:10px;*/

/*}*/

/*.top-bar{*/

/*height: 90px;*/
/*padding-top: 0px;*/
/*}*/
/*.top-bar a.button{*/
/*margin-top: 0px;*/

/*}*/

/*form label*/
/*{*/
/*font-weight: bold;*/
/*}*/

/*.topcoat-navigation-bar input[type=text]*/
/*{*/
/*background-color: #BFBDBD;*/
/*border:solid 1px #BFBDBD;*/
/*color: #979797;*/
/*height: 28px;*/
/*padding-left:10px;*/
/*width: 191px;*/
/*box-shadow: 2px 2px 0 #828181 inset;*/
/*}*/
/*input[type="search"]*/
/*{*/
/*background-color: #fff; */
/*border-style: solid; */
/*border-width: 0px 0px 1px 0px; */
/*border-color: darkred;*/
/*}*/

/*input[type="search"]:focus*/
/*{*/
/*background-color: #fff; */
/*border:0px ;*/
/*border-width: 0px 0px 1px 0px; */
/*border-color: darkred;*/
