<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kerb</title>
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->

        <link rel="stylesheet" type="text/css" href="flat/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="flat/css/flat-ui.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />

    </head>
    <body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KERB</a>

        </div>
    </nav>

    <div id="container">

    
            <img class ="spinner" src="img/loader.gif">
   </div> 

    <script id="lot-list-template" type="text/x-handlebars-template">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">KERB</a>

        <span class="icons">
        <a class="btn btn-primary navbar-btn pull-right" href="#auth"><span class="fui-plus"></span></a>
        <a class="btn btn-primary navbar-btn pull-right" href="#search"><span class="fui-search"></span></a>
        </span>
            </div>
        </nav>

        {{#each this}}
        <div class="media">
            <a class="pull-left" href="#details">
                <img class="media-object" src="img/parking.png" alt="Generic placeholder image">
            </a>
            <div class="media-body">
                <a href="#details/{{id}}"><p class="media-heading pull-right">${{cost}}/{{rental_period}}</p></a>
                <a href="#details/{{id}}">
                    <p><span class="apt">{{apt_name}}</span></p>
                    <p>{{location}}</p>
                    <a href="#auth">Available: {{avail}}. Book now</a></p>
                </a>
            </div>
        </div>
        <hr >
        {{/each}}

    </script>

    <script id="lot-details-template" type="text/x-handlebars-template">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="btn btn-primary navbar-btn pull-left" id="back"><span class="fui-arrow-left"></span></a>
                    <p class="navbar-text">{{apt_name}}</p>
                    <!--<span class="icons">-->
                    <!--<a class="btn btn-primary navbar-btn pull-right" href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>-->
                    <!--</span>-->
                </div>

        </nav>
        <div id = 'details'>
            <h6>{{apt_name}}</h6>
            <h6>{{location}}</h6>
            {{#if address}}
            <h6>{{address}}</h6>
            {{/if}}
            <hr >
            <h6>${{cost}} per {{rental_period}}</h6>
            <hr >
            <h6>Available: {{avail}}</h6>
            <hr >
            {{#if description}}
            <p>Information: {{description}}</p>
            {{/if}}
            <hr >
            {{#if remarks}}
            <p>{{remarks}}</p>
            {{/if}}
            <hr >
            <p>Contact Name: {{contact_name}}</p>
            <hr >
        </div>

        <!--<div>-->
            <!--<a href="#map" class="btn center btn-primary">Show Map</a>-->
        <!--</div>-->

        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <a class="btn btn-wide btn-danger navbar-btn pull-left footerbtn" href="#auth">Rent</a>
                <a class="btn btn-wide btn-danger navbar-btn pull-left footerbtn" href="tel:+{{contact}}">Contact</a>
            </div>
        </nav>

    </script>

    <script id="oauth-template" type="text/x-handlebars-template">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="btn btn-primary navbar-btn pull-left" id="back"><span class="fui-arrow-left"></span></a>
                <p class="navbar-text">Sign in or Create an Account</p>

            </div>

            </nav>

        <div>
            <a class="btn btn-block btn-hg btn-primary" href="#share">Facebook</a>
            <a class="btn btn-block btn-hg btn-primary" href="#share">Twitter</a>
            <a class="btn btn-block btn-hg btn-primary" href="#share">Google</a>
        </div>


    </script>

    <script id="search-template" type="text/x-handlebars-template">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="btn btn-primary navbar-btn pull-left" id="back"><span class="fui-arrow-left"></span></a>
                <p class="navbar-text">Search</p>
            </div>

        </nav>


        <div class="details">
            <!--<input type="text" class="form-control login-field" value="" placeholder="Parking Lot Name" id="login-name" />-->

            <hr>
            <p><a href="#getlocal">Current Location</a></p>

            <a class="btn center btn-primary" id="search">Search</a>
        </div>
    </script>

    <script id="map-template" type="text/x-handlebars-template">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="btn btn-primary navbar-btn pull-left" id="back"><span class="fui-arrow-left"></span></a>
                <p class="navbar-text">Map</p>
            </div>
            
            <div id="map-content">
            
            </div>

        </nav>
    </script>
        
<script id="loading-template" type="text/x-handlebars-template">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="btn btn-primary navbar-btn pull-left" id="back"><span class="fui-arrow-left"></span></a>
                <p class="navbar-text">Loading</p>
            </div>
            
            
        </nav>
    
            <div>
            <img class ="spinner" src="img/loader.gif">
            </div>
    </script> 


        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="flat/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="js/handlebars-1.3.0.js"></script>
        <script type="text/javascript" src="js/memoryadapter.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

    </body>
</html>
